<div class="page-single">
	<div class="container">
		<div class="row">
			<div class="col col-login mx-auto">
				<div class="text-center mb-6">
					<img src="assets/brand/tabler.svg" class="h-25" alt="">
				</div>
				<form class="card" action="" method="post" (submit)="send()">
					<div class="card-body p-6">
						<div class="form-group">
							<label class="form-label">Nome de Usuário / Email</label>
							<input type="email" class="form-control" id="exampleInputEmail1"
							       aria-describedby="emailHelp" placeholder="Enter email" name="login" [(ngModel)]="login">
						</div>
						<div class="form-group">
							<label class="form-label">Senha</label>
							<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="senha" [(ngModel)]="senha">
						</div>
						<div class="form-group">
							<label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" checked/>
								<span class="custom-control-label">Permanecer Logado</span>
							</label>
						</div>
						<div class="form-footer">
							<button type="submit" class="btn btn-primary btn-block">Fazer Login</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
